* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1162.ani), url(https://ani.cursors-4u.net/cursors/cur-13/cur1162.png), default !important;
	font-family: Arial, sans-serif;
	background-color: #000;
	color: #fff;
	font-weight: bold;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

header {
	background-color: #333;
	color: #fff;
}

header a {
	color: #fff;
	text-decoration: none;
}

header a:hover {
	background-color: #fff;
	color: #ffffff;
}

header h1 {
	font-size: 2em;
	margin-bottom: 10px;
}

header h2 {
	font-size: 1.5em;
	margin-bottom: 20px;
}

nav ul {
	position: fixed;
	top: 0;
	right: 0;
	margin: 20px;
	list-style: none;
  }
  
  nav li {
	display: inline-block;
	margin: 0 10px;
	font-size: 16px;
	font-weight: bold;
	color: #9b9595;
  }
  
  nav a {
	text-decoration: none;
	color: #e4d9d9;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
 nav  a:hover {
	background-color: #cc2e2e;
	color: #fff;
  }

main {
	padding: 20px 0;
}

section h1 {
	font-size: 1.5em;
	margin-bottom: 20px;
}

section p {
	margin-bottom: 20px;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 200px;
	height: auto;
	border-radius: 40%;
	border: 5px solid #fff;
	box-shadow: 0 0 10px #000;
}


footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
.brand {
	color: #8B4513;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2em;
	font-weight: bold;
	position: absolute;
	top: 20px;
	left: 20px;
}

  img {
	width: 100%;
	height: auto;
  }
  /* welcome to my portfolio */
 
  .swing {
	display: inline-block;
	animation: swing 1s ease-in-out infinite;
  }
  
  @keyframes swing {
	0% {
	  transform: rotate(0deg);
	}
	50% {
	  transform: rotate(15deg);
	}
	100% {
	  transform: rotate(0deg);
	}
  }
  .bounce {
	
	display: inline-block;
	animation-duration: 3s;
	animation-name: bounce;
	animation-iteration-count: 100;
  }
  
  @keyframes bounce {
	0% {
	  transform: translateY(0);
	}
	25% {
	  transform: translateY(-20px);
	}
	50% {
	  transform: translateY(0);
	}
	75% {
	  transform: translateY(-10px);
	}
	100% {
	  transform: translateY(0);
	}
  }
  
  .bounce span {
	display: inline-block;
	animation: none;
  }
  
  .bounce span:nth-child(1) {
	animation-delay: 0.1s;
  }
  
  .bounce span:nth-child(2) {
	animation-delay: 0.2s;
  }
  
  .bounce span:nth-child(3) {
	animation-delay: 0.3s;
  }
   /* fawad Arif */
